---
layout: default
---
<h1>{{ page.name }}</h1>
{{ content }}
<hr/>

<h2>Sections Taught</h2>
<ul>
  {% assign sections = site.sections | where: 'course_id', page.course_id | sort: "year" | reverse %}
  {% for section in sections %}
  <li>
    <a href="{{ section.url | relative_path }}">
      {{ section.section_name}} ({{section.semester}} {{section.year}})
    </a>
  </li>
  {% endfor %}
</ul>
